body{
    background-image:url ("../../luffy gear 5.jpg");
    text-align: comment;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
